* {
  box-sizing: border-box;
}

body {
  background-color: #404040;
  height: 650px;
  margin: 50px;
  align-items: center;
  font-family: 'calibri', "calibri";
  display: flex;
  justify-content: left;
}

:root {
  --error-color: #e5033e;
  --success-color: #239a98;
}

h2 {
  margin: 0 0 20px;
  text-align: left;
  color: #65b9e7;
}

.form-control small {
  color: var(--error-color);
  left: 0;
  visibility: hidden;
  position: absolute;
  font-size: .75rem;
}

.form {
  padding: 30px 30px;
}

.container {
  width: 400px;
  background-color: #FFFFFF;
  border-radius: 25px;

}

.form button {
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-family: "Calibri";
  padding: 11px;
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 25px;
  background-color: #65b9e7;
  border: 2px solid #65b9e7;
  width: 100%;
}

.form-control.error small {
  visibility: visible;
}

.form-control label {
  margin-bottom: 5px;
  color: #65b9e7;
  display: block;

  font-weight: bolder;
}



.form-control input:focus {
  border-color: #65b9e7;
  outline: 0;
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-control input {
  border: 2px solid #585758;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  display: block;
  padding: 7px;
}